<%= form_tag('/employee/dashboard', :method => :post) do %>
  <div class="uidnumber">
  	Employee ID: <%= text_field_tag :emp_id %>
  </div>
  <div class="submit">
  	<%= submit_tag 'Login' %>
  </div>
<% end %>
